    .banner {
    background: #70bf32;
    background: url('linear-gradient.png') 0 0 repeat-x;
    background: -moz-linear-gradient(top, #a1e048, #6a942f);
    background: -ms-linear-gradient(top, #a1e048, #6a942f);
    background: -o-linear-gradient(top, #a1e048, #6a942f);
    background: -webkit-linear-gradient(top, #a1e048, #6a942f);
    background: linear-gradient(top, #a1e048, #6a942f);
    }
    .title
    {
    text-align : left;
    text-decoration:underline;
    color:white;
    font-family:"urw bookman l";
    font-size:40px;
    }
    .name
    {
    text-align : left;
    color:yellow;
    font-family:"urw bookman l";
    font-size:40px;
    }
    .warning
    {
    text-align : center;
    color:red;
    font-size:15px;
    }    
    .signoff
    {
    text-align : center;
    color:green;
    font-size:15px;
    }
    a.btn {
	display: block; width: 200px; height: 30px; padding: 10px 0px 0 10; margin: 0 auto;
	
	background: red; /* old browsers */
	background: -moz-linear-gradient(top, yellowgreen 0%, green 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DD297), color-stop(100%,#398525)); /* webkit */
	
	box-shadow: inset 0px 0px 6px #fff;
	-webkit-box-shadow: inset 0px 0px 6px #fff;
	border: 1px solid green;
	border-radius: 10px;
	
	font: bold 15px/15px Helvetica, Sans-Serif; text-align: left;
	text-transform: uppercase; text-decoration: none;
	color: windowtext;
	text-shadow: 0px 1px 2px #b4d1ad;
	
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;	
}

	a.btn:hover {
		color: greenyellow;
		
		-moz-transition: color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out;
	}
